.footerfulldiv{
    background-color: #c1f4fa;
    height: 65px;
}
.iconfooter{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.handiconandtextfooter{
    
    z-index: 1;
    background-color: rgb(120, 235, 247);
    border-radius: 30%;
    box-shadow: 1px 1px 10px 1px rgb(51, 50, 50);
    height: 63px;
}
.fahandspockfooter{
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 576px) {
    .fulldivoffooter{
        height: 80px;
    }  
    .fahandspockfooterdiv{
        padding-top: 10px;
    }
    .fahandspockfooter{
        height: 30px;
        width: 30px;
    }
    .handiconandtextfooter{
        z-index: 1;
        background-color: rgb(120, 235, 247);
        border-radius: 100%;
        box-shadow: 1px 1px 10px 1px rgb(51, 50, 50);
        height: auto;
    }
    .footerfulldiv{
        height: auto;
    }

}